.footer {
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  margin-top: auto;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  cursor: pointer;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  gap: 60px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.footer-menu a {
  text-decoration: none;
  list-style: none;
  color: #535755;
  transition: color 0.2s;
}

.footer-menu a:hover {
  color: #3596ed;
}

.footer-border-top {
  border: 1px solid #d3cbd9;
  width: 1920px;
  height: 0px;
  margin-bottom: 40px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
  margin-bottom: 40px;
}
