.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
  max-width: 1220px;
  max-height: 105px;
}

.header-link-logo {
  cursor: pointer;
}

.header-tel {
  max-width: 240px;
  max-height: 45px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
}

.header-tel p {
  margin-bottom: 8px;
}

.header-tel a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.header-tel a:hover {
  color: #3596ed;
}
