.page {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: transparent rgba(0, 0, 0, 0.3);
  z-index: var(--layer-1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-time);
}

.menu-overlay--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section-title--big {
  font-family: var(--second-family);
  font-weight: 900;
  line-height: 103%;
  color: var(--deep-color);
}

@media (width > 992px) {
  .section-title--big {
    font-size: 46px;
  }
}

@media (width <= 992px) and (width > 576px) {
  .section-title--big {
    font-size: 30px;
  }
}

@media (width <= 576px) {
  .section-title--big {
    font-size: 24px;
  }
}

.text-regular {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 130%;
  color: var(--deep-color);
}
