.page {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page__body {
  min-width: 375px;
  background-color: #fff;
  overflow-x: hidden;
}

@media (width > 768px) {
  .section {
    padding-block: 150px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .section {
    padding-block: 50px;
  }
}

@media (width <= 576px) {
  .section {
    padding-block: 31px;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: transparent rgba(0, 0, 0, 0.3);
  z-index: var(--layer-1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-time);
}

.menu-overlay--active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section-title--big,
.section-title--medium {
  font-family: var(--second-family);
  font-weight: 900;
  line-height: 103%;
  color: var(--deep-color);
}

@media (width > 992px) {
  .section-title--big {
    font-size: 46px;
  }

  .section-title--medium {
    font-size: 42px;
  }
}

@media (width <= 992px) and (width > 576px) {
  .section-title--big {
    font-size: 30px;
  }

  .section-title--medium {
    font-size: 26px;
  }
}

@media (width <= 576px) {
  .section-title--big {
    font-size: 24px;
  }

  .section-title--medium {
    font-size: 20px;
  }
}

.text-regular {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 140%;
  color: var(--deep-color);
}

@media (width > 756px) {
  .text-regular {
    font-size: 18px;
  }
}

@media (width <= 756px) {
  .text-regular {
    font-size: 12px;
  }
}

.accent {
  color: var(--accent-color);
}

.approval {
  color: var(--approval-color);
}

.disabled {
  color: var(--disabled-color);
}
