* {
  box-sizing: content-box;
  font-size: 20px;
  font-family: sans-serif;
}

p {
  font-weight: 600;
}

form {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  border-width: 3px;
  border-radius: 20%;
}

fieldset {
  border-radius: 5%;
}

.inline {
  display: inline;
}

.box {
  display: block;
}

textarea {
  resize: vertical;
}

.aaa {
  content: 10px 30px 10px 30px;
}

button {
  border: 0px;
  padding: 2px 8px 2px 8px;
}
