@media (width > 576px) {
  .air-mag {
    padding-bottom: 93px;
  }
}

@media (width <= 576px) {
  .air-mag {
    padding-bottom: 80px;
  }
}

@media (width > 576px) {
  .air-mag__title {
    margin-bottom: 13px;
  }
}

@media (width <= 576px) {
  .air-mag__title {
    margin-bottom: 20px;
  }
}

.air-mag__text {
  display: flex;
  gap: 13px;
}

.air-mag__text::before {
  content: "";
  display: block;
  background-image: url(../../icons/griup-icon.svg);
  width: 131px;
  height: 40px;
  flex-shrink: 0;
  transform: translateX(-13px);
}

@media (width > 768px) {
  .air-mag__text {
    margin-bottom: 20px;
  }
}

@media (width <= 786px) {
  .air-mag__text {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.air-mag__info-wrapper {
  display: flex;
}

@media (width > 992px) {
  .air-mag__info-wrapper {
    gap: 40px;
  }
}

@media (width <= 992px) {
  .air-mag__info-wrapper {
    flex-direction: column;
  }
}

.air-mag__img {
  width: 100%;
}

.air-mag__description-list {
  display: flex;
  flex-direction: column;
}

@media (width > 992px) {
  .air-mag__description-list {
    transform: translateY(71px);
    gap: 40px;
    flex-shrink: 0;
    max-width: 293px;
  }
}

@media (width <= 992px) {
  .air-mag__description-list {
    gap: 20px;
    max-width: 700px;
  }
}

.air-mag__description-item::before {
  content: "";
  display: block;
  width: 46px;
  height: 34px;
  margin-bottom: 5px;
  transform: translateX(-8px);
  background-image: url(../../icons/check-check.svg);
}
