.faq {
  background-color: var(--main-color);
}

@media (width > 768px) {
  .faq__title {
    padding-bottom: 60px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .faq__title {
    padding-bottom: 40px;
  }
}

@media (width <= 576px) {
  .faq__title {
    padding-bottom: 38px;
  }

  .faq__title--name {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.faq__details {
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows var(--transition-time) ease;
}

.faq__details[open] {
  grid-template-rows: auto 1fr;
}

.faq__details[open] .faq__summary-plus {
  transform: rotate(45deg);
  color: var(--accent-color);
}

.faq__details--last {
  border-bottom: 1px solid var(--disabled-color);
}

.faq__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--disabled-color);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 150%;
  color: var(--deep-color);
  cursor: pointer;
}

.faq__summary-plus {
  display: block;
  flex-shrink: 0;
  object-fit: contain;
  transform-origin: center center;
  transition:
    transform var(--transition-time) ease,
    color var(--transition-time) ease;
}

.faq__summary-plus svg,
.faq__summary-plus use {
  width: 100%;
  height: 100%;
}

.faq__summary-plus-icon {
  display: block;
}

@media (width > 768px) {
  .faq__summary {
    padding-block: 34px;
    font-size: 20px;
  }

  .faq__summary-plus {
    width: 36px;
    height: 36px;
  }

  .faq__text {
    padding-bottom: 34px;
    font-size: 18px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .faq__summary {
    padding-block: 18px;
    font-size: 16px;
  }

  .faq__summary-plus {
    width: 30px;
    height: 30px;
  }

  .faq__text {
    padding-bottom: 18px;
    font-size: 14px;
  }
}

@media (width <= 576px) {
  .faq__summary {
    padding-block: 16px;
    font-size: 13px;
  }

  .faq__summary-plus {
    width: 24px;
    height: 24px;
  }

  .faq__text {
    padding-bottom: 16px;
    font-size: 11px;
  }
}

.faq__content {
  overflow: hidden;
}

.faq__text {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 150%;
  color: var(--deep-color);
}
