/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.modal {
  --transition-time: 0.2s;

  position: fixed;
  inset: 0;
  z-index: var(--layer-3);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background: var(--overlay);
  -webkit-transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
  -o-transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
}

.modal--open {
  opacity: 1;
  visibility: visible;
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal__window {
  position: relative;
  display: none;
  vertical-align: middle;
  border-radius: 12px;
  margin-block: 50px;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0 0 20px var(--shadow-color);
  box-shadow: 0 0 20px var(--shadow-color);
}

@media (width > 576px) {
  .modal__window {
    padding: 100px 50px;
  }
}

@media (width <= 576px) {
  .modal__window {
    padding: 80px 30px;
    width: 90%;
  }
}

.modal__window--open {
  display: inline-block;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 24px;
  width: 24px;
  height: 24px;
}
